/**
 * 全局 SCSS 变量定义
 * 已通过 Vite 预加载该文件, 定义的内容在全局可用, 无需额外导入该文件
 */
$background-color: #efefef;

$padding: 16px;
$padding-small: 8px;
$padding-large: 24px;

$radius: 10px;
$radius-small: 4px;
$radius-large: 16px;
