/**
 * 全局 SCSS 变量定义
 * 已通过 Vite 预加载该文件, 定义的内容在全局可用, 无需额外导入该文件
 */
$background-color: #efefef;

$font-size: 14px;

$padding: 16px;
$padding-small: 8px;
$padding-large: 24px;

$radius: 10px;
$radius-small: 4px;
$radius-large: 16px;

/***************************/
/****       @mixin    ******/
/***************************/

@mixin line-base {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
// 一行文本
@mixin line1 {
    @include line-base;
    -webkit-line-clamp: 1;
}
// 两行文本
@mixin line2 {
    @include line-base;
    -webkit-line-clamp: 2;
}
@mixin line-n($n) {
    @include line-base;
    -webkit-line-clamp: $n;
}

// 水平居中布局
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
// 垂直居中布局
@mixin flex-column-center {
    @include flex-center;
    flex-direction: column;
}
@mixin flex-left-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin flex-right-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
